body {
    margin: 0;
    padding: 0;
    border: 0;

}
/*layout*/
.list_item {
    text-decoration-style: none;
    background-color: yellow;

}
    .list_item a {
        color: black;
    }



/*decks*/




/*cards*/
.card_bothsides {
    clear: both;
    overflow: auto;
    border: 1px solid black;
    padding: 20px;
}

.card_front {
    float: left;
    top: 0;
    border: 1px solid black;
}

.card_back {
    float: right;
    bottom: 0;
    border: 1px solid black;
}