
body {
    margin: 0;
    padding: 0;
    border: 0;
    background: url('arrowbg.png') no-repeat center center;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

header {
    text-align: center;
}

.top {
    font-size: 400%;
    color: white;
}

body hr {
    background: black;
}

.hiddenSide, .hiddenNav {
    display: none;
}

/*layout*/
.title {
    opacity: .8;
    font-family: 'Gugi', sans-serif;
}

h1.title {
    font-size: 1.5em;
    opacity: .5;
}

h2.title {
    font-size: 2em;
}

.invisible {
    opacity: .05;
}

.list_item {
    text-decoration-style: none;
    background-color: #912424;
    color: white;
    margin: 1%;
}

    .list_item:hover {
        background-color: white;
        color: #912424;
        text-decoration-style: none;
        border: 1px solid #912424;
    }

.top_links {
    margin: 0 auto;
}

#top_links {
    margin: 0 auto;
}

.main_body {
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 3%;
    color: black;
    font-weight: 500;
}


.added_tag {
    display: inline-block;
    background-color: #31156f;
    color: white;
    padding: 1px 5px;
    margin-bottom: 4px;
}

.checkmark {
    font-weight: bold;
    color: #537254;
}

.successMsg a {
    color: black;
}

/*decks*/
.search {
    float: right;
    padding: 1%;
}

.deck_name {
    color: black;
    text-decoration: none;
}

    .deck_name:hover {
        text-decoration: none;
    }

.new_deck {
    margin-bottom: 2%;
}

.removeTag {
    display: inline-block;
}

.tag_list {
    margin-right: 1%;
    margin-left: 1%;
    display: inline-block;
}

.deck_list a {
    color: black;
}

.deck_list a:hover {
    color: #912424;
}

.add_cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.editDeck_options div {
    display: inline-block;
}
/*cards*/

.card_flex_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card_bothsides {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    height: 30vh;
    min-height: 300px;
    width: 25%;
    min-width: 350px;
    overflow: auto;
    background: rgba(255,255,255,0.5);
    color: black;
}

    .card_bothsides li {
        list-style-type: none;
    }

    .card_bothsides a {
        color: black;
    }

    .card_bothsides a:hover {
        color: #31156f
    }

.card_front, .card_back {
    background: #fff;
    margin: 10px;
    padding: 10px;

}

.card_front {
    top: 0;
}

.card_back {
    bottom: 0;
}

.inactive_tag {
    display: inline-block;
    background: #444;
    color: #fff;
    padding: 1px 5px;
    margin-bottom: 4px;
}

.remove_tag:hover, inactive_tag:hover {
    cursor: pointer;
}

.index_option {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    font-size: 1.5em;
}

    .index_option a {
        color: black;
    }

    .index_option form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .index_option a:hover {
        color: #912424;
    }

.search_button {
    font-size: .8em;
    margin: 10px;
    background: dodgerblue;
    color: white;
    border: none;
}

    .search_button:hover {
        cursor: pointer;
    }

/*card search results*/
.noresults_option a {
    color: black;
}

/*modify card*/

.modify_header {
    display: inline-block;
}

.toprow {
    clear: both;
    overflow: auto;
}

.row_left {
    float: left;
}

.row_right {
    float: right;
}

.submit_button {
    margin-left: 30px;
    padding: 10px;
    background: dodgerblue;
    color: white;
    border: none;
}

    .submit_button:hover {
        cursor: pointer;
    }

.wide_textarea {
    width: 80%;
    margin-bottom: 30px;
}

.bold_heading {
    font-weight: bold;
    font-size: 1.2em;
}

.selected {
    background: #ccc;
}

.tag_section {
    margin-bottom: 20px;
}


.add_tag_action {
    display: inline-block;
    padding-right: 10px;
}

.remove_tag_action {
    display: inline-block;
    margin-right: 20px;
    color: #333;
    background: rgba(0,0,0,0);
}

/*study session*/


.studyFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.cardFrame {
    width: 600px;
    max-width: 90vw;
    height: 400px;
    max-height: 60vw;
    position: relative;
}

.studyCard {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    color: black;
    font-size: 2em;
    padding: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .3s ease;
}

.newCard {
    transform: translateX(100vw);
}

.activeCard {
}

.oldCard {
    transform: translateX(-100vw);
}


.studyNavFrame {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100px;
}

.studyNav {
    background: #333;
    color: white;
    margin: 10px;
    text-decoration-style: none;
    color: white;
}

.studyNav:hover {
    cursor: pointer;
}

.score {
    position: absolute;
    right: 0;
    bottom: 0;
}

.resultsFrame a {
    color: black;
}
