body {
    margin: 0;
    padding: 0;
    border: 0;
}
/*layout*/
.list_item {
    text-decoration-style: none;
    background-color: dodgerblue;
    color: white;
}
.list_item:hover{
    background-color:white;
    color:blue;
    text-decoration-style: none;
    border: 1px solid dodgerblue;
}
.top_links{
   
}


/*decks*/




/*cards*/

.card_container {
    width: 100vw;
}

.card_bothsides {
    background: #ddd;
    display: inline-block;
    overflow: auto;
    border: 1px solid #aaa;
    padding: 20px;
    margin-top: 20px;
    min-height: 25vh;
    width: 100%;
}

.card_front {
    top: 0;
    border: 1px solid #aaa;
    background: #eee;
    margin: 10px;
}

.card_back {
    bottom: 0;
    border: 1px solid #aaa;
    background: #eee;
    margin: 10px;
}

.index_option {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
    font-size: 1.5em;
}
