@using Capstone.Web.Models
@model List<Deck>
@{
    ViewBag.Title = "SelectDeck";
    List<Deck> availableDecks = ViewBag.CurCard.AvailableDecksToAddThisCard;
    List<Deck> decksWithCard = ViewBag.CurCard.DecksHaveThisCard;
}

@{
    if (decksWithCard.Count > 0)
    {
        <h4>Your card is currently in these decks:</h4>
        foreach (Deck thisDeck in decksWithCard)
        {
            <p>
                @Html.Label(thisDeck.Name)
            </p>
        }
    }

    <h4>Add your card to a deck:</h4>
    foreach (Deck thisDeck in availableDecks)
    {
        <p>
            @Html.ActionLink(thisDeck.Name, "AddCardToDeck", new { cardID = ViewBag.CardID, deckID = thisDeck.DeckID })
        </p>
    }
}

