@using Capstone.Web.Models
@model List<Deck>
@{
    ViewBag.Title = "SelectDeck";
    List<Deck> availableDecks = ViewBag.CurCard.AvailableDecksToAddThisCard;
    List<Deck> decksWithCard = ViewBag.CurCard.DecksHaveThisCard;
}

@{
    <h2 class="title">Add card to deck:</h2>
    if (availableDecks.Count > 0)
    {
        foreach (Deck thisDeck in availableDecks)
        {
            <p>
                @Html.ActionLink(thisDeck.Name, "AddCardToDeck", new { cardID = ViewBag.CardID, deckID = thisDeck.DeckID })
            </p>
        }
    }

    if (Model.Count == 0)
    {
        <p>
            You don't have any decks yet.
            @Html.ActionLink("Create one here.", "AddDeck", "Deck")
        </p>
    }

    if (decksWithCard.Count > 0)
    {
        <h4>Your card is currently in these decks:</h4>
        foreach (Deck thisDeck in decksWithCard)
        {
            <p>
                @Html.Label(thisDeck.Name)
            </p>
        }
    }

}
