@using Capstone.Web.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Card


<h2>Modify card</h2>

@using (Html.BeginForm("CardSubmitChange", "Card", new { id = Model.CardID, front = Model.Front, back = Model.Back }))
{
    <div>
        <p>front of card:</p>
        @Html.TextAreaFor(m => m.Front, new { placeholder = ViewBag.cardFront })

        <p>back of card:</p>
        @Html.TextAreaFor(m => m.Back, new { placeholder = ViewBag.cardBack })

    </div>

    <button class="submit_button" type="submit">Submit changes</button>


}