@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Capstone.Web.Models
@model List<Card>

<h2>Card search results</h2>


    @{
        foreach (Card thisCard in Model)
        {
            <div class="card_searchview">
                <div class="card_front">@thisCard.Front</div>
                <div class="card_back">@thisCard.Back</div>
            </div>

        }
    }



@Html.ActionLink("Add card to deck", "CardToDeck", "Card")