@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Card index page</h2>

@Html.ActionLink("Create a Card", "CardConstruct", "Card")
@Html.ActionLink("View All Cards", "CardView", "Card")

@using(Html.BeginForm("CardSearch", "Card", FormMethod.Get))
{
    @Html.TextBox("SearchString")
    
    <button type="submit">Search cards</button>
}

