@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Card index page</h2>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-6">
            <div class="index_option">
                @Html.ActionLink("Create a Card", "CardConstruct", "Card")
            </div>
        </div>

        <div class="col-sm-6">
            <div class="index_option">
                @Html.ActionLink("View All Cards", "CardView", "Card")
            </div>
        </div>

    </div>

    <div class="index_option">
        @using (Html.BeginForm("CardSearch", "Card", FormMethod.Get))
        {
            <div>
                @Html.TextBox("SearchString")
            </div>

            <button type="submit" class="list_item btn">Search by Tag</button>
        }
    </div>

</div>
