@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Capstone.Web.Models
@model List<Deck>

<h2>Your Decks</h2>

<div>
    @foreach (var deck in Model)
    {
    <hr />
        <div>
            <div><h3>@deck.Name</h3></div>
            <div>Topic: @deck.Topic</div>
            <div class="navbar-collapse collapse">
                <div class="nav navbar-nav">
                    <div>@Html.ActionLink("Edit", "EditDeck", "Deck")</div>
                </div>
            </div>
        </div>
    <hr />
    }
</div>
