@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<h2>Edit Deck</h2>

@using (Html.BeginForm("EditDeck", "Deck", FormMethod.Post))
{
    <div>
        @Html.Label("Name", "Deck Name: ")
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div>
        @Html.Label("Topic", "Topic")
        @Html.TextBoxFor(m => m.Subject)
    </div>

    <button>Flash Forward</button>
}*@
